__pycache__/
OCR_inputs/icon_1.png
OCR_inputs/icon_2.png
OCR_inputs/icon_3.png
OCR_inputs/icon_4.png
OCR_inputs/icon_5.png
OCR_inputs/icon_6.png
OCR_inputs/icon_7.png
OCR_inputs/icon_8.png
OCR_inputs/icon_9.png
OCR_inputs/icon_10.png
OCR_inputs/icon_11.png
OCR_inputs/icon_12.png
OCR_inputs/icon_13.png
OCR_inputs/icon_14.png
machine_learning
emulator-5554-screenshot.png